.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;  /* Limits the text to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Ensures that text wraps normally */
  }

  .truncate-text-one {
    display: -webkit-box;
    -webkit-line-clamp: 1;  /* Limits the text to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Ensures that text wraps normally */
  }

  .iframe {
    width:100%;
    height: 500px;
    border-radius: 10px;
  }

  @media (max-width: 576px) {
    .iframe {
      height: 200px
    }
  }
  