ul {
    padding-left: 0 !important;
}

.floating-btn {
    position: fixed;  /* Fixed positioning so it stays on top */
    top: 100px;         /* Distance from the top of the page */
    right: 20px;       /* Distance from the right edge of the page */
    background-color: var(--primary-color1); /* Background color of the button */
    color: white;      /* Text color */
    border: none;
    border-radius: 5px; /* Slight border radius to make it rounded */
    padding: 12px 24px; /* Padding for square shape with some width */
    font-size: 16px;    /* Font size for the text */
    font-weight: bold;  /* Make the text bold */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for floating effect */
    cursor: pointer;   /* Pointer cursor on hover */
    transition: transform 0.3s ease; /* Animation effect */
    z-index: 1000;      /* Make sure the button is above all other elements */
  }
  
  .floating-btn:hover {
    transform: scale(1.05); /* Slight scale effect on hover */
  }
  
  .floating-btn span {
    text-align: center; /* Center the text inside the button */
    white-space: nowrap; /* Prevent text from wrapping */
  }

  .note {
    border: 1px solid var(--primary-color1);
    border-radius: 10px;
    padding: 10px;
    border-left: 8px solid var(--primary-color1) !important;
  }

  .action-btns {
    padding: 20px 0px;
  }
  
